<!DOCTYPE html>
<html>
    <head>
        <title>IIT Jodhpur Server Home</title>
        <link rel="icon" href="../../static/img/iitj-logo.png"> 
    </head>
    <body>
        <center>
            <img src="../../static/img/iitj-logo.png" width="400" alt="IIT Jodhpur Logo"> <h1>Big Data Project Server - Group6</h1>
            <p>This server is for internal use only.</p>
            <h3> Anirban Sinha </h3>
            <h3> Aditya Singh Rathore </h3>
            <h3> Vinod Kanwar</h3>

            <button id="etl-btn"> Start ETL Process </button>
        </center>
        <script src="{{url_for('static', filename='js/index.js')}}"></script>
    </body>
</html>